server {
    listen {{ nginx_port }};
    server_name {{ server_name }};

    access_log /var/log/nginx/{{ server_name }}.access.log;
    error_log /var/log/nginx/{{ server_name }}.error.log;

    location / {
        proxy_pass http://127.0.0.1:8080;  # Replace with your backend server URL
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Additional Nginx configurations can be added here
}
